# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Conda
.env
*.conda

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Large model files (OPTIONAL)
# Agar model zyada heavy ho to
# saved_model/
